body {
    background: url("/Content/Images/squared_metal.png") repeat;
}
.body-content {
    padding: 15px;
}

a:hover {
    text-decoration: none;
}
th a {
    cursor: pointer;
}

.btn {
    cursor: pointer;
}

.alert {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 0;
}